body{
    background-color: #C6D5FF;
}
header{
    border:1px solid #707070;
    height: 98px;
    margin:35px 95px 100px 45px;
    background-color: #C6D5FF;
    width: 1200px;
    -webkit-box-shadow: 2px 2px 2px 2px #888888;
            box-shadow: 2px 2px 2px 2px #888888;
}
.logo{
    height: 90px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;

}
.navBar{
    float: right;
    height: 63px;
    background-color: #EBEBEB;
    margin-top: 20px;
    margin-right: 90px;
    margin-bottom: 20px;
    
}
.nav-li{
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-right: 68px;
    padding-top:20px;
    padding-left: 35px;
}
a{
    color: #000000;
}
.active{
    color: #A00000;
}
.cover{
    width: 1200px;
    margin-left: 50px;
    -o-object-fit: cover;
       object-fit: cover;
}
.title{
    font-size: 40px;
    font-weight: bold;
    margin-top: 95px;
    margin-bottom: 50px;
}
.articleImage{
    width: 560px;
    height: 450px;
    -o-object-fit: cover;
       object-fit: cover;
}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 50px;
    margin-right: 80px;
    border-bottom: 1px dotted #7F8094;
    
}
.articleTitle{
    font-size:25px;
    font-weight:bold;
    margin-top: 30px;
    margin-right: 100px;
    line-height: 33px;
    color: #4D4F5C;
}
.articleText{
    font-size: 15px;
    color: #7C7C91;
    line-height: 17px;
    margin-top: 60px;
    margin-right: 100px;
    margin-bottom: 35px;
}
.readMore{
    color: #FF4141;
    padding-left: 400px;
    margin-bottom: 35px;

}
.secondDiv{
    margin-top: 190px;
    margin-left: 74px;
}
.float{
    margin:117px 62px 150px 50px;
}
.floatImage{
    width: 500px;
    height: 450px;
    -o-object-fit: cover;
       object-fit: cover;
    float: left;
    margin-right: 20px;
}
.floatTitle{
    font-size:25px;
    font-weight:bold;
    color: #4D4F5C;
}
.floatText{
    font-size: 15px;
    color: #7C7C91;
    line-height: 17px;
    margin-top: 73px;
}
.float::after {
    content: '';
    display: block;
    clear: both;
}
footer{
    width:1350px;
    background-color: #7F8094;
    height:100px;
    margin-top: 150px;
}
.footerList{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding:30px;
}
.footerList li{
    margin-left: 20px;
}