body{
    background-color: #C6D5FF;
}
header{
    border:1px solid #707070;
    height: 98px;
    margin:35px 95px 100px 45px;
    background-color: #C6D5FF;
    box-shadow: #000000;
}
.logo{
    height: 90px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;

}
.navBar{
    float: right;
    height: 63px;
    background-color: #EBEBEB;
    margin-top: 20px;
    margin-right: 90px;
    margin-bottom: 20px;
    box-shadow:#090a0c;
}
.clear{
    float: both;
}
.nav-li{
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-right: 68px;
}
a{
    color: #000000;
}
.active{
    color: #A00000;
}
.cover{
    width: 1200px;
    margin-left: 50px;
    object-fit: cover;
}
.title{
    font-size: 40px;
    font-weight: bold;
    margin-top: 95px;
    margin-bottom: 50px;
}
.articleImage{
    width: 560px;
    height: 450px;
    object-fit: cover;
}
.flex{
    display: flex;
    margin-left: 50px;
    margin-right: 80px;
    border-bottom: 1px dotted #7F8094;
    
}
.articleTitle{
    font-size:25px;
    font-weight:bold;
    margin-top: 30px;
    margin-right: 100px;
    line-height: 33px;
    color: #4D4F5C;
}
.articleText{
    font-size: 15px;
    color: #7C7C91;
    line-height: 17px;
    margin-top: 60px;
    margin-right: 100px;
    margin-bottom: 35px;
}
.readMore{
    color: #FF4141;
    padding-left: 400px;
    margin-bottom: 35px;

}
.secondDiv{
    margin-top: 190px;
    margin-left: 74px;
}
.float{
    margin:117px 62px 150px 50px;
}
.floatImage{
    width: 500px;
    height: 450px;
    object-fit: cover;
    float: left;
    margin-right: 20px;
}
.floatTitle{
    font-size:25px;
    font-weight:bold;
    color: #4D4F5C;
}
.floatText{
    font-size: 15px;
    color: #7C7C91;
    line-height: 17px;
    margin-top: 73px;
}
.float::after {
    content: '';
    display: block;
    clear: both;
}
footer{
    width:1350px;
    background-color: #7F8094;
    height:100px;
    margin-top: 150px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding:30px;
}
ul li{
    margin-left: 20px;
}
